x64/Debug/my_lessons.pdb
x64/Debug/my_lessons.ilk
x64/Debug/my_lessons.exe
my_lessons/x64/Debug/vc141.pdb
my_lessons/x64/Debug/vc141.idb
my_lessons/x64/Debug/pch.obj
my_lessons/x64/Debug/my_lessons.tlog/my_lessons.lastbuildstate
my_lessons/x64/Debug/my_lessons.tlog/link.write.1.tlog
my_lessons/x64/Debug/my_lessons.tlog/link.read.1.tlog
my_lessons/x64/Debug/my_lessons.tlog/link.command.1.tlog
my_lessons/x64/Debug/my_lessons.tlog/CL.write.1.tlog
my_lessons/x64/Debug/my_lessons.tlog/CL.read.1.tlog
my_lessons/x64/Debug/my_lessons.tlog/CL.command.1.tlog
my_lessons/x64/Debug/my_lessons.pch
my_lessons/x64/Debug/my_lessons.obj
my_lessons/x64/Debug/my_lessons.log
my_lessons/pch.h
my_lessons/pch.cpp
my_lessons/my_lessons.vcxproj.user
my_lessons/my_lessons.vcxproj.filters
my_lessons/my_lessons.vcxproj
my_lessons/Debug/vc141.pdb
my_lessons/Debug/vc141.idb
my_lessons/Debug/pch.obj
my_lessons/Debug/my_lessons.tlog/my_lessons.lastbuildstate
my_lessons/Debug/my_lessons.tlog/link.write.1.tlog
my_lessons/Debug/my_lessons.tlog/link.read.1.tlog
my_lessons/Debug/my_lessons.tlog/link.command.1.tlog
my_lessons/Debug/my_lessons.tlog/CL.write.1.tlog
my_lessons/Debug/my_lessons.tlog/CL.read.1.tlog
my_lessons/Debug/my_lessons.tlog/CL.command.1.tlog
my_lessons/Debug/my_lessons.pch
my_lessons/Debug/my_lessons.obj
my_lessons/Debug/my_lessons.log
my_lessons.sln
Debug/my_lessons.pdb
Debug/my_lessons.ilk
Debug/my_lessons.exe
.vs/my_lessons/v15/ipch/6a119fed47c69eb2.ipch
.vs/my_lessons/v15/ipch/527aa01effb967cf.ipch
.vs/my_lessons/v15/Browse.VC.opendb
.vs/my_lessons/v15/Browse.VC.db
.vs/my_lessons/v15/.suo
my_lessons/x64/Debug/my_lessons_2.obj
